
<div class='wrap1 other'>
  <h2>Search national parks by activity or go <%= link_to "HOME", root_path %></h2>
  <%= form_with(url: search_path, method: "get", local: true, class:'search') do %>
    <%= text_field_tag :name, '', placeholder: "Try 'Hiking' or 'Swimming'", class:"searchTerm" %>
    <%= submit_tag("Search",class: 'searchButton') %>
  <% end %>
</div>

<img src='https://media.istockphoto.com/vectors/abstract-vector-nature-or-outdoor-mountain-range-silhouette-vector-id1004093184?k=20&m=1004093184&s=612x612&w=0&h=dB7HOHjHvtOKCavsrw9nFYwD2NMcshYWzPQr2AdZpfU=' class='icon' >
<img src='https://www.pngkey.com/png/full/92-922808_28-images-of-oak-tree-template-clip-art.png' alt=''class='icon2'>


<% if @activities %>
<div class='table-wrapper'>
  <h2> Parks with <%= @name %> </h2>
  <table class='fl-table'>
  <thead>
    <tr>
        <th>Name</th>
        <th>Website</th>
        <th>States</th>
        <th>Additional Info</th>
    </tr>
  </thead>
  <tbody>
          <% @parks.each do |park| %>
            <tr>
              <td><%= park['fullName'] %></td>
              <td><a href=<%= park['url'] %> target="_blank"> <%= park['url'] %></a></td>
              <td>  <%= park['states'] %></td>
              <td>  <%= link_to "Find Out More", park_path(:park => park['parkCode'])  %><td>
            </tr>
          <% end %>
    </tbody>
  </table>
</div>
<%else %>
<h2> Sorry, no results found for <q><%= params[:'name'] %></q> <h2>
<% end %>
