
<h1>Explore National Parks<h1>
<h4>by Evan Li<h4>


<div class='wrap1'>
<h2>Search national parks by activity</h2>
<%= form_with(url: search_path, method: "get", local: true, class:'search') do %>
  <%= text_field_tag :name, '', placeholder: "Try 'Hiking' or 'Swimming'", class:"searchTerm" %>
  <%= submit_tag("Search",class: 'searchButton') %>
<% end %>
</div>

<img src='https://media.istockphoto.com/vectors/abstract-vector-nature-or-outdoor-mountain-range-silhouette-vector-id1004093184?k=20&m=1004093184&s=612x612&w=0&h=dB7HOHjHvtOKCavsrw9nFYwD2NMcshYWzPQr2AdZpfU=' class='icon' >

<img src='https://www.pngkey.com/png/full/92-922808_28-images-of-oak-tree-template-clip-art.png' alt='', class='icon2'>


<div class='wrap2'>
<h2>Search webcam images from national parks</h2>
<%= form_with(url: image_path, method: "get", local: true,class:'search') do %>
  <%= text_field_tag :park, '', placeholder: 'Try "Kennecott Mill and Mt. Blackburn" or "Bluestone National Scenic River"', class:"searchTerm" %>
  <%= submit_tag("Search",class: 'searchButton') %>
<% end %>
</div>
